
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<div class="container">
    <form class="row" method="post">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input name="Name" class="form-control"/>
        </div>
        <br/>

        <label class="control-label">Description</label>
        <input name="Description" form-control"/>
        <br/>
        <button class="col-md-3 btn-primary form-group" type="submit">Save</button>
    </form>
</div>